<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo es utilizado por el proceso de paquete/publicación de nuestro proyecto Web. Puede personalizar el comportamiento de este proceso
editando este archivo MSBuild. Para conocer más acerca de esto, visite http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://eventor.gear.host</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>publish.gear.host</MSDeployServiceURL>
    <DeployIisAppPath>eventor</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$eventor</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ApplicationDb" Order="1" Enabled="False">
          <Destination Path="Data Source=mssql2.gear.host;Initial Catalog=identitydb;User ID=identitydb;Password=Iv49!6!phS5o" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Eventor.Models.Identity.ApplicationDbContext, Eventor" MigrationConfiguration="Eventor.Migrations.Identity.ConfigurationIdentity, Eventor" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="EventorDb" Order="2" Enabled="False">
          <Destination Path="Data Source=mssql2.gear.host;Initial Catalog=eventordb;User ID=eventordb;Password=Cd3N0!ep~d9F" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Eventor.Models.App.EventorDbContext, Eventor" MigrationConfiguration="Eventor.Migrations.App.ConfigurationApp, Eventor" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ApplicationDb-Web.config Connection String">
      <ParameterValue>Data Source=mssql2.gear.host;Initial Catalog=identitydb;User ID=identitydb;Password=Iv49!6!phS5o</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EventorDb-Web.config Connection String">
      <ParameterValue>Data Source=mssql2.gear.host;Initial Catalog=eventordb;User ID=eventordb;Password=Cd3N0!ep~d9F</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>